$dark-blue: #003a70;

.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  h3 {
    color: $dark-blue;
  }
}

.innerContainer {
  background: #ffcb05;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 5px 2px 3px #3d7dca, 10px 4px 6px #003a70;
  width: 80%;
  padding: 2em 1.5em;
  @media screen and (max-width: 667px) {
    font-size: 0.8rem;
  }
}
